<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>HateBot</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <style>
      body {
        background-image: url('http://pngimg.com/uploads/robot/robot_PNG78.png');
        background-repeat: no-repeat;
      }

      .alert {
        left: 0;
        margin: auto; // Centers alert component
        position: absolute; // So that it will display relative to the entire page
        right: 0;
        top: 1em;
        width: 60%;
      }
    </style>
  </head>

  <body>
    <div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom box-shadow">
      <h5 class="my-0 mr-md-auto font-weight-normal">HateBot</h5>
    </div>
      {% if is_processed %}
        {% if is_hate %}
        <div class="alert alert-danger center-block" role="alert">
            This Tweet is hate speech.
        </div>
        {% else %}
        <div class="alert alert-primary center-block" role="alert">
            This Tweet is fine, don't worry.
        </div>
        {% endif %}
      {% endif %} 
    <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
      <h1 class="display-4">HateBot </h1>
      <p class="lead">Paste the Tweet here</p>
    </div>

    <div class="container">
      <div class="card-deck mb-3 text-center">
        <div class="card mb-4 box-shadow">
          <div class="card-body">
            <form  method="POST">
      			  <div class="form-group">
      			    <textarea class="form-control" id="tweet" name="tweet" rows="3"></textarea>
      			  </div>
              <button type="submit" class="btn btn-lg btn-block btn-outline-primary">Submit the Tweet</button>
      			</form>
          </div>
        </div>
      </div>

      <footer class="pt-4 my-md-5 pt-md-5">
        <div class="row">
          <div class="col-12 col-md">
            <small class="d-block mb-3" style="text-align: right">&copy; Karina Kozarova, Developed in 2021 as part of <span style="color: purple">Fontys UAS AI Specialization</span></small>
          </div>
        </div>
      </footer>
    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../../../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
	<script src="//cdn.jsdelivr.net/npm/promise-polyfill@8/dist/polyfill.js"></script>

  </body>
</html>
